/* style for header */
header {
  font-family: Inter;
}
nav {
  display: flex;
  justify-content: space-around;
}
nav ul {
  display: flex;
  list-style: none;
  align-items: center;
}
nav ul li {
  margin-right: 25px;
}
#home {
  color: rgb(89, 86, 232);
  font-size: 18px;
  font-weight: 500;
  text-align: left;
}
.nav {
  color: rgb(24, 24, 24);
  font-size: 18px;
  font-weight: 500;
  text-align: left;
}
.btn-primary {
  border-radius: 10px;
  background: rgb(89, 86, 232);
  width: 144px;
  height: 48px;
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  border: solid;
}
.heading-theme {
  position: relative;
  margin-top: 50px;
}
.banner-illustrator {
  position: absolute;
  top: 0;
  margin: 155px 200px 210px 800px;
}
.introduction {
  position: absolute;
  top: 0;
  margin: 200px 1000px 270px 200px;
  width: 540px;
  height: 440px;
}
.heading-one {
  color: rgb(255, 254, 254);
  font-size: 65px;
  font-weight: 700;
}
.para-one {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 400;
}
#get-started {
  border-radius: 10px;
  background: rgb(255, 255, 255);
  width: 144px;
  height: 48px;
  color: rgb(89, 86, 232);
  font-size: 18px;
  font-weight: 500;
  border: 0;
}
main {
  max-width: 1170px;
  max-height: 616px;
  margin: 0px auto;
}
.our-services {
  color: rgb(24, 24, 24);
  font-size: 40px;
  font-weight: 700;
}
.para-two {
  color: rgba(24, 24, 24, 0.7);
  font-size: 16px;
  font-weight: 400;
  color: rgba(24, 24, 24, 0.7);
}
.services {
  text-align: center;
}
.service-can-provide {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}
.service-info {
  box-sizing: border-box;
  border: 0.5px solid rgb(227, 227, 227);
  border-radius: 10px;
  background: rgb(255, 255, 255);
  margin-top: 50px;
  padding: 50px;
  box-shadow: 20px;
}
.our-work {
  text-align: center;
  margin-top: 100px;
}
.our-work-portfolio {
  color: rgb(24, 24, 24);
  font-size: 40px;
  font-weight: 700;
}
.para-three {
  color: rgba(24, 24, 24, 0.7);
  font-size: 16px;
  font-weight: 400;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
  left: 0;
  padding: 190px 25px 20px 15px;
}
.intro-of-team-member {
  text-align: center;
}
.picture {
  color: rgb(24, 24, 24);
  font-size: 40px;
  font-weight: 700;
}
.para-four {
  margin: 20px 0px 50px 0px;
}
.heading-three {
  color: rgb(24, 24, 24);
  font-size: 40px;
  font-weight: 700;
}
.para-five {
  color: rgba(24, 24, 24, 0.7);
  font-size: 16px;
  font-weight: 400;
  margin-top: 10px;
}
.same {
  display: flex;
  gap: 30px;
}
.equal {
  border-radius: 10px;
  box-shadow: 0px 6px 35px 0px rgba(0, 0, 0, 0.08);
  background: rgb(255, 255, 255);
  padding-left: 50px;
  padding-top: 50px;
}
.para-six {
  color: rgba(24, 24, 24, 0.7);
  font-size: 16px;
  font-weight: 400;
}
.mahid {
  color: rgb(24, 24, 24);
  font-size: 20px;
  font-weight: 600;
}
.ux {
  color: rgb(93, 93, 93);
  font-size: 16px;
  font-weight: 400;
  padding-top: 0px;
}
.comma {
  float: right;
  padding-right: 25px;
  padding-bottom: 25px;
}
.our-latest-news {
  text-align: center;
}
.our-latest {
  color: rgb(24, 24, 24);
  font-size: 40px;
  font-weight: 700;
}
.last-div {
  display: flex;
  gap: 30px;
}
.last {
  box-sizing: border-box;
  border: 1px solid rgb(227, 227, 227);
  border-radius: 10px;
  background: rgb(255, 255, 255);
  padding: 25px;
}
.one,
.two {
  margin-right: 20px;
}
.last-heading {
  color: rgb(24, 24, 24);
  font-size: 20px;
  font-weight: 600;
}
footer{
    background-color:  rgba(89, 86, 232, 0.1);
}